.idea/
__pycache__/
MNIST/
cifar-10-python.tar.gz
cifar-100-python.tar.gz
cifar-10-batches-py
cifar-100-python
depp svdd/results
fcdd/output_results.log
wgan/model_ *

thesis/output_results.log
thesis/model_*
thesis/best_model_*
thesis/analysis.csv
