.idea/
__pycache__/
MNIST/
cifar-10-python.tar.gz
cifar-100-python.tar.gz
cifar-10-batches-py
cifar-100-python
deep_svdd/results
fcdd/output_results.log
wgan/model_ *

thesis/output_results.log
thesis/model_*
thesis/best_model_*
thesis/analysis.csv
linearity_test_2/results/*
anamoly_det_test_1/results/*
constrastive_model*
anamoly_det_test_2/results
anamoly_det_test_1/result_tmp
anamoly_det_test_1/tmp_file